logs
nerfv3.2_donerf_data_test_results
run_nerf_v2.py
*.pyc
.script_history
Debug_Dir
Experiments
data/cifar10*
data/mnist
data/imagenet*
base_models
model/*.th
train_params/
data/
tiny_nerf_data.npz
*.txt
*.npy
scripts
*.pdf
*.pickle
*.pkl
tools/.ipynb_checkpoints
log_learning_curve_test.jpg
*.DS_Store*
.vscode
