cgkit1==1.2.7
contourpy==1.0.7
cycler==0.11.0
Deprecated==1.2.14
fonttools==4.39.4
glfw==2.5.9
imageio==2.30.0
importlib-resources==5.12.0
kiwisolver==1.4.4
llvmlite==0.40.0
matplotlib==3.7.1
numba==0.57.0
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pygame==2.4.0
PyGLM==2.7.0
Pygments==2.15.1
PyOpenGL==3.1.7
pyparsing==3.0.9
PySDL2==0.9.15
pysdl2-dll==2.26.5
python-dateutil==2.8.2
six==1.16.0
vtk==9.2.6
wrapt==1.15.0
zipp==3.15.0
